@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700&family=DM+Serif+Display&display=swap");

@theme {
  --color-primary: #000000;
  --color-secondary: #111111;
  --color-accent: #6365f1;
  --font-serif: "DM Serif Display", serif;
  --font-sans: "Syne", sans-serif;
  --font-terminal: "Share Tech Mono", monospace;
}

@layer base {
  body {
    @apply bg-black text-white;
    html {                                                  
      scroll-behavior: smooth;
    }
  }
}
